	@model List<CharacterSheetApp.Models.Character>

	@section header{
		<meta name="description" content="Lists all characters in App">
	}

		<h1>
			Characters
		</h1>

		<!-- <p>
			<a asp-action="Create" asp-controller="Home">Create new character</a>
		</p>

		<ul>
			@foreach(var item in Model)
			{
				<li>
					<a asp-action="Details" asp-controller="Home" asp-route-name="@item.Name">
						@item.Name
					</a>
				</li>
			}
		</ul> -->

		<div class="row">
			@foreach(var item in Model)
			{
				@Html.Partial("_CharacterSheet",item)
			}
		</div>
